<section class="form-elegant text-center py-5">
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-9 col-lg-7 col-xl-5">

      <!--Form without header-->
      <div class="card">

        <div class="card-body mx-4">
          <h6 class="text-center text-muted pt-5">イベント作成画面</h6>
            <h2 class="text-center font-weight-bold pb-4">イベントを主催しよう</h2>

<%= render partial: 'form', locals: { event: @event, artist_board: @artistboard } %>

</div>

</div>

</div>

</div>

</section>

<div class="row d-flex justify-content-center mb-4">
<%= link_to artist_board_path(@artistboard.artists) do %>
<button type="button" class="btn btn-outline-primary waves-effect link-btn">戻る</button>
<% end %>
</div>
