/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "tempusdominus-bootstrap-4.css";

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

.logo {
  font-family: 'Rock Salt', cursive;
}

.inner {
  overflow: hidden;
  width:100%;
}

.carousel-item h1 {
  font-size: 5rem;
  font-weight: bold;
}

.carousel-item h3 {
  font-weight: bold;
}

.carousel-item p {
  font-weight: bold;
}

.form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.bg {
  background-image: url("session-backimage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-btn {
  font-size:1rem;
}

.submit-btn {
  font-size:1rem;
}

#search_area {
  background-color: rgba(0, 0, 0, 0.03);
}

#board_comments_area {
  background-color: rgba(0, 0, 0, 0.03);
}

#board_comments_form {
  background-color: rgba(0, 0, 0, 0.03);
}

#events {
  background-color: rgba(0, 0, 0, 0.03);
}

#event_comments_area {
  background-color: rgba(0, 0, 0, 0.03);
}

#event_comments_form {
  background-color: rgba(0, 0, 0, 0.03);
}

.comment {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 8px;
  border-radius: 10px;
  position: relative;
  background-color: #D9F0FF;
}

.comment:after {
    content: "";
    position: absolute;
    top: 50%; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}

.event-content {
  border:2px solid #a9a9a9;
  border-radius: 5px;
  padding: 7px;
  margin-top: 20px;
}

.event-content-label {
  color: #757575;
}
