<h6 class="text-center text-muted pt-5">掲示板作成画面</h6>
<h2 class="text-center font-weight-bold pb-4">アーティスト掲示板を作成しよう</h2>

<%= render 'form', artistboard: @artistboard %>

<div class="row d-flex justify-content-center my-4">
  <%= link_to search_artist_boards_path do %>
    <button type="button" class="btn btn-outline-primary waves-effect link-btn">掲示板検索画面へ</button>
  <% end %>
</div>
